

/* uncomment to see the depth of element */
/* html * {
    background-color: rgba(54,100,147,.05);
    box-shadow: 0 0 0 1px rgba(54,100,147,1)
}
*/

#debug-grid {
    position: fixed;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
